.page {
  padding: 12px;
  border: 1px solid black;
}

.button {
  border: 1px solid black;
  padding: 6px 12px;
  border-radius: 6px;
}

.toasts-section {
  /*position: fixed;*/
  /*inset: 0;*/
}

.toasts {
  position: absolute;
  bottom: 32px;
  right: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.toast {
  --direction: 1;
  --offset: 14;

  /*position: absolute;*/
  position: relative;
  right: 24px;
  bottom: 0;
  z-index: 1;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 356px;
  border: 1px solid black;
}

.toast-close {
  position: absolute;
  top: 8px;
  right: 24px;
}