:root {
  --gray1: hsl(0,0%,99%);
  --gray2: hsl(0,0%,97.3%);
  --gray3: hsl(0,0%,95.1%);
  --gray4: hsl(0,0%,93%);
  --gray5: hsl(0,0%,90.9%);
  --gray6: hsl(0,0%,88.7%);
  --gray7: hsl(0,0%,85.8%);
  --gray8: hsl(0,0%,78%);
  --gray9: hsl(0,0%,56.1%);
  --gray10: hsl(0,0%,52.3%);
  --gray11: hsl(0,0%,43.5%);
  --gray12: hsl(0,0%,9%);

  --normal-bg: #fff;
  --normal-border: var(--gray4);
  --normal-text: var(--gray12);

  --success-bg: hsl(143,85%,96%);
  --success-border: hsl(145,92%,91%);
  --success-text: hsl(140,100%,27%);

  --info-bg: hsl(208,100%,97%);
  --info-border: hsl(221,91%,91%);
  --info-text: hsl(210,92%,45%);

  --warning-bg: hsl(49,100%,97%);
  --warning-border: hsl(49,91%,91%);
  --warning-text: hsl(31,92%,45%);

  --error-bg: hsl(359,100%,97%);
  --error-border: hsl(359,100%,94%);
  --error-text: hsl(360,100%,45%);
}

.page {
  padding: 12px;
  border: 1px solid black;
}

.button {
  border: 1px solid black;
  padding: 6px 12px;
  border-radius: 6px;
}

.button[data-active="true"] {
  background: var(--gray3);
  border-color: var(--gray7);
}

.toasts-section {
  /*position: fixed;*/
  /*inset: 0;*/
}

.toasts {
  position: fixed;
  bottom: 32px;
  right: 32px;
  /*display: flex;*/
  /*flex-direction: column-reverse;*/
  width: 356px;
  background: red;
}

.toast._success {
  background: var(--success-bg);
  border: 1px solid var(--success-border);
  color: var(--success-text);
}

.toast._info {
  background: var(--info-bg);
  border: 1px solid var(--info-border);
  color: var(--info-text);
}

.toast._warning {
  background: var(--warning-bg);
  border: 1px solid var(--warning-border);
  color: var(--warning-text);
}

.toast._error {
  background: var(--error-bg);
  border: 1px solid var(--error-border);
  color: var(--error-text);
}

.toasts[data-expanded="false"] {
  gap: 16px;
  transition: gap 0.3s ease;
}

.position-top-left {
  top: 32px;
  left: 32px;
  bottom: unset;
  right: unset;
}

.position-top-center {
  top: 0;
  left: 50%;
  bottom: unset;
  right: unset;
  transform: translateX(-50%);
}

.position-top-right {
  top: 0;
  left: unset;
  bottom: unset;
  right: 0;
}

.position-bottom-left {
  top: unset;
  left: 32px;
  bottom: 32px;
  right: unset;
}

.position-bottom-center {
  top: unset;
  left: 50%;
  bottom: 32px;
  right: unset;
  transform: translateX(-50%);
}

.position-bottom-right {
  top: unset;
  left: unset;
  bottom: 32px;
  right: 32px;
}

.toast {
  --direction: 1;
  --offset: 14;
  --z-index: 1;
  --toasts-before: 0;
  --front-toast-height: 0;
  --lift: -1;
  --gap: 26px;
  --lift-amount: calc(var(--lift) * var(--gap));
  --y: translate(0, 100%);

  opacity: 0;
  /*transform: translate(0, 100%);*/
  position: absolute;
  bottom: 20px;
  /*--y: translateY(100%);*/
  transform: var(--y);

  /*position: absolute;*/
  /*position: relative;*/
  /*right: 24px;*/
  /*bottom: 0;*/

  z-index: var(--z-index);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 356px;
  border: 1px solid var(--normal-border);
  background: var(--normal-bg);

  transition: transform .3s, opacity .3s, height .3s;
}

.toast[data-mounted='true'] {
  --y: translateY(0);
  opacity: 1;
  /*transform: translate(0);*/
}

.toast[data-removed="true"] {
  --y: translate(0, 100%);
  opacity: 0;
}

.toast[data-expanded='false'][data-front='false'] {
  --scale: var(--toasts-before) * 0.05 + 1;
  --y: translateY(calc(var(--lift-amount) * var(--toasts-before))) scale(calc(-1 * var(--scale)));
  height: var(--front-toast-height);
}

.toast[data-mounted='true'] {
  --y: translateY(calc(var(--lift) * var(--offset)));
  height: var(--initial-height);
}

.toast-close {
  position: absolute;
  top: 8px;
  right: 24px;
}

.durationTimer {
  --duration: 5s;

  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  background: aqua;
  animation: closeAnimation var(--duration);
}

@keyframes closeAnimation {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}

.anim {
  opacity: 0;
  transform: translate(0, 100%);
  transition: opacity .3s, transform .3s;
}

.anim[data-animation="true"] {
  transform: translate(0);
  opacity: 1;
}




.list-item {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1s, transform 1s;
}

.list-item.mounted {
  opacity: 1;
  transform: translateY(0);
}

.list-item-exit {
  opacity: 1;
  transform: translateY(0);
}

.list-item-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1s, transform 1s;
}